<!-- AJOUT -->
<app-creation-modification-utilisateur
  (creerUtilisateur)="ajouterUtilisateur($event)">
</app-creation-modification-utilisateur>

<!-- MODIFICATION -->
<ng-container *ngIf="utilisateurSelectionne">
  <app-creation-modification-utilisateur
    [utilisateur]="utilisateurSelectionne"
    (creerUtilisateur)="ajouterUtilisateur($event)"
    (modifierUtilisateur)="modifierUtilisateur($event)">
  </app-creation-modification-utilisateur>
</ng-container>

<!-- UTILISATEURS -->
<div class="utilisateurs">
  <div class="utilisateurs__titre">Liste utilisateurs :</div>
  <div class="utilisateurs__liste">
    <app-utilisateur
      *ngFor="let utilisateur of utilisateurs"
      [utilisateur]="utilisateur"
      (selection)="selectionnerUtilisateur(utilisateur)"
      (suppression)="supprimerUtilisateur(utilisateur.id)">
    </app-utilisateur>
  </div>
</div>