<form [formGroup]="formulaire" (ngSubmit)="soumettreFormulaire()">
  
  <input [formControlName]="NOM">
  <span *ngIf="nomCtrl.dirty && nomCtrl?.hasError(REQUIRED)">{{OBLIGATOIRE}}</span>
  <span *ngIf="nomCtrl.dirty && nomCtrl?.hasError(CONTIENT)">{{ERREUR_COUCOU}}</span>
  
  <input [formControlName]="PRENOM">
  <span *ngIf="prenomCtrl?.dirty && prenomCtrl?.hasError(REQUIRED)">{{OBLIGATOIRE}}</span>
  
  <input [formControlName]="EMAIL">

  <button type="submit" [disabled]="!formulaire.valid">{{nomBouton}}</button>
</form>

<pre>Valeur : {{ formulaire.value | json }}</pre>
<pre>Valid : {{ formulaire.valid }}</pre>
<pre>Disabled : {{ formulaire.disabled }}</pre>
<pre>Touched : {{ formulaire.touched }}</pre>
<pre>Dirty : {{ formulaire.dirty }}</pre>

<pre>{{ nomCtrl.errors | json }}</pre>